<h1>Реактивні форми</h1>
<div class="flex flex-row flex-wrap">
  <a
    class="neumorphic"
    routerLink="/example1"
    routerLinkActive="active"
    ariaCurrentWhenActive="page"
  >
    <i class="fa-light fa-fire"></i>
    <span>Приклад1</span>
  </a>
  <a
    class="neumorphic"
    routerLink="/example2"
    routerLinkActive="active"
    ariaCurrentWhenActive="page"
  >
    <i class="fa-light fa-dna"></i>
    <span>Приклад2</span>
  </a>
  <a
    class="neumorphic"
    routerLink="/example3"
    routerLinkActive="active"
    ariaCurrentWhenActive="page"
  >
    <i class="fa-light fa-chart-mixed"></i>
    <span>Приклад3</span>
  </a>
  <a
    class="neumorphic"
    routerLink="/example4"
    routerLinkActive="active"
    ariaCurrentWhenActive="page"
  >
    <i class="fa-light fa-atom"></i>
    <span>Приклад4</span>
  </a>
  <a
    class="neumorphic"
    routerLink="/example5"
    routerLinkActive="active"
    ariaCurrentWhenActive="page"
  >
    <i class="fa-light fa-seedling"></i>
    <span>Приклад5</span>
  </a>
  <!-- <button class="neumorphic">
    <i class="fa-light fa-dna"></i>
    <span>Button 2</span>
  </button>
  <button class="neumorphic">
    <i class="fa-light fa-chart-mixed"></i>
    <span>Button 3</span>
  </button>
  <button class="neumorphic">
    <i class="fa-light fa-atom"></i>
    <span>Button 4</span>
  </button>
  <button class="neumorphic">
    <i class="fa-light fa-seedling"></i>
    <span>Button 5</span>
  </button>
  <button class="neumorphic">
    <i class="fa-light fa-disease"></i>
    <span>Button 6</span>
  </button> -->
</div>
<router-outlet></router-outlet>
